/* besedilo v telesu spletne strani*/
body{
	font-size: 20px;
	background-color: rgb(173,234,245);
	margin: 0;
}
/*naslov teme strani*/
h1{
	color: rgb(17,42,70);
	font-style: italic;
}
/*podnaslov*/
h2{ color: black;
	font-style: oblique;
}

/*podpodnaslov*/	
h3{
	color: rgb(17,42,70);
}
/*uvodni del strani*/
header div{
	display: flex;
}
/*vektorska grafika*/
.grafika{
	top: 0;
	right: 0;
	/*height: 100%;*/
	height: 200px;
}
/*besedilo na glavni strani*/
.content{
	line-height: normal; 
	float: left;
	padding: 40px;
}
/*besedilo*/
.besedilo{
	position: relative;
	float: right;
	font-size: 20px;
	padding-left: 10px;
	text-align: left;
	margin: 10px;
	max-width: 70%;
	padding-right: 60px;

}
/*slika z licenco*/
.under{
	font-size: 10px;
	text-align: center;
	width: 400px;
	float: right;
	margin-right: 100px;
	position: relative;
	
}
/*slika ob licenci*/
.under img{
	float: right;
	padding-left: 150px;
	right: 5px;
	padding-top: 30px;
	padding-right:0;
	/*display:inline-block;*/
}
/*licenca pod sliko*/
.under p{
	padding-bottom:20px;
}
/*licenca spletne strani*/
.text{
	font-size: 15px; 
	bottom: 0;
	float: bottom;
	position: absolute;
	display: flex;
	left:0;
	text-align: center;
	padding-left: 500px;
	
}

/*
section{
	float: left;
	text-align: left;
}
*/

/*stranski meni*/
.sidebar{
	margin: 0;
	padding: 8px 0;
	width: 160px;
	position: relative;
	top: 20px;
	left: 10px;
	overflow-x: hidden;
	float: left;
	background: #eee;
	
}
/*besedilo v meniju*/
.sidebar a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
}
/*slika z licenco*/
.note{
	font-size: 10px;
	text-align: center;
	width: 400px;
	float: right;
	margin-right: 150px;
}
/*slika ob licenci*/
.note img{
	justify-content: center;
	display: flex;

}

/*licenca pod sliko*/
.note p{
	padding-bottom: 20px;
}

/*neurejen seznam*/
ul{
	padding-right: 30px;
	padding-bottom: 10px; 
}
/*neurejen seznam virov*/
.seznam{
	position: relative;
	max-width: 60%;
	float: left;
	/*padding-right: 20px;*/
	/*padding-top: 30px;*/
	/*display: inline-block;*/
	padding: 50px;
}



/*
.seznam ul{
	float: left;
	padding-right: 16px;
}
*/
/*slike v telesu spletne strani*/
body img{
	float: right;
	padding: 10px;
}
/*besedilo*/
p{
	color: black;
}
/*licenca spletne strani*/
footer{
	position: relative;
	display: flex;
	width: 100%;
	text-align: center;
	padding-top: 30px;
}
